<div class="overflow-hidden bg-[#2d3955] shadow sm:rounded-lg mx-[25rem] my-[5rem] text-white">
    <div class="px-4 py-5 sm:px-6">
      <h1 class="font-bold px-[4rem] pt-[3rem] w-[40rem] text-[2.875rem] leading-[3.25rem]">
        A journey of growth and development
    </h1>
    </div>
    <div class="px-4 py-5 sm:px-6">
      <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
        <div class="sm:col-span-1">
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px]">
                We have a clear roadmap for growth, both for AD Ports Group and the wider trade and maritime sectors Our stable and sustainable growth model encourages inward investment and creates a globally competitive trading environment for our customers and partners
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px]">
                AD Ports Group portfolio continues to grow through prudent investment and the development of world-class infrastructure
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px]">
                On the 8th of February 2022, AD Ports Group listed its shares on the primary market of the Abu Dhabi Securities Exchange (ADX) ADQ will remain majority shareholder status with a 75.44 percent ownership
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px]">
                The listing of our shares has reaffirmed our position as a leading integrated hub for ports, maritime services, economic cities, digital services and logistics, as well as a valued contributor to Abu Dhabi economy
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px]">
                AD Ports Group’s shares can be found on ADX under the ticker symbol (ADPORTS )
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px] mt-3 sm:mt-0 sm:ml-[2.75rem]">
                
                    <a href="#"
                        class="flex  w-[15rem] items-center justify-center rounded-md border-2 border-white border-transparent transition-colors duration-500 bg-transparent px-8 py-3 text-base text-white  font-bold hover:bg-sky-600 hover:text-white md:py-4 md:px-10 md:text-lg btn-parent hover:border-sky-600">
                        Learn More
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke-width="1.5" stroke="currentColor"
                            class="svg-arrow-right w-6 h-6 relative left-[15px]">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                        </svg>
                    </a>
                
            </p>
            <div class="flex flex-row mb-[5rem] mt-[4rem]">
                <p class="font-bold text-lg text-white mb-[30px] ml-[50px] mt-3 sm:mt-0 sm:ml-[2.75rem]">
                    A+
                    Outlook Stable
                    <img src="../../../assets//imgs/rank-img-2.png" class="my-[2rem]">
                    <span>
                        February 2022

                    </span>
                
            </p>
            <p class="font-bold text-lg text-white mb-[30px] ml-[50px] mt-3 sm:mt-0 sm:ml-[2.75rem]">
                A+
                Outlook Stable
                <img src="../../../assets//imgs/rank-img-1.png" class="my-[2rem]">
                <span>
                    February 2022
                </span>            
        </p>
            </div>
        </div>
        
        <div class="sm:col-span-1 ">
            <div class="border-b-2 border-gray-400 ml-[50px]">

          <h1 class="text-white text-[3.5rem] font-bold">$1 billion</h1>
          <p class="font-bold text-white mb-[30px]">AD Ports Group has successfully issued US$ 1 billion 10 year bonds</p>
        </div>

        <div class="border-b-2 border-gray-400 ml-[50px] mt-[5rem]">

            <h1 class="text-white text-[3.5rem] font-bold">$1.1 billion</h1>
            <p class="font-bold text-white mb-[30px]">Revenue for FY2021 (14% YoY Growth)</p>
        </div>

          <div class="border-b-2 border-gray-400 ml-[50px] mt-[5rem]">

            <h1 class="text-white text-[3.5rem] font-bold">3.0 million sqm</h1>
            <p class="font-bold text-white mb-[30px]">Land leased in industrial zones during FY2021</p>
          </div>

          
        </div>

      
        
       
          
      </dl>
    </div>
  </div>
  