<div class="overflow-hidden bg-white">
    <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
      <div class="absolute top-0 bottom-0 left-3/4 hidden w-screen bg-gray-50 lg:block"></div>
      <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
        <div>
          <h2 class="text-lg font-semibold text-sky-600 relative lg:top-[15rem] xs:top-0">Careers</h2>
          <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl relative lg:top-[15rem] xs:top-0">Join us as we transform global trade</h3>
        </div>
      </div>
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="relative lg:col-start-2 lg:row-start-1">
          <svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
            <defs>
              <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
          </svg>
          <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
            <figure>
              <div class="aspect-w-12 aspect-h-7 lg:aspect-none">
                <img class="rounded-lg object-cover object-center shadow-lg" src="assets/imgs/Careers-min.jpg" alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376">
              </div>
            </figure>
          </div>
        </div>
        <div class="mt-8 lg:mt-0">
          <div class="mx-auto max-w-prose text-base lg:max-w-none">
            <p class="text-lg text-gray-500 relative lg:top-[15rem] xs:top-[5rem]">
                We are a human-centric organisation built on innovation and efficiency, and our people are our success. We support our employees’ personal and professional development with world-class maritime education and best-in-class training and encourage new ways of thinking by supporting the development of the next generation of industry leaders.
            </p>
            
          </div>
      </div>
    </div>
    <div class="mt-3 sm:mt-0 sm:ml-0">
        <a href="#"
            class="flex w-[12rem] relative lg:bottom-[12rem] xs:bottom-[15rem] items-center justify-center rounded-md border-2 border-transparent transition-colors duration-500 bg-transparent px-8 py-3 text-base text-[#2d3955] border-[#2d3955] font-bold hover:bg-sky-600 hover:text-white md:py-4 md:px-10 md:text-lg btn-parent">
            Learn More
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke-width="1.5" stroke="currentColor"
                class="svg-arrow-right w-6 h-6 relative left-[15px]">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M8.25 4.5l7.5 7.5-7.5 7.5" />
            </svg>
        </a>
    </div>
  </div>
  