<app-navbar></app-navbar>

<app-hero-section></app-hero-section>

<app-parallax></app-parallax>

<app-map-section></app-map-section>

<app-map-section2></app-map-section2>

<app-according-slider></app-according-slider>

<app-growth-section></app-growth-section>

<app-transient-section></app-transient-section>

<app-latest></app-latest>

<app-careers></app-careers>

<app-latest-trade></app-latest-trade>

<app-scroll-to-top></app-scroll-to-top>

<app-social-btns class="fixed"></app-social-btns>

<app-footer></app-footer>