<div class="relative overflow-hidden bg-transparent h-[52rem]">
    <div class="mx-auto max-w-7xl">
        <div class="relative z-10 bg-transparent pb-8 sm:pb-16 md:pb-20 lg:w-full lg:pb-28 xl:pb-32">
            <div class="mx-auto mt-16 max-w-[45rem] px-4 sm:mt-24 sm:px-6 relative top-[45px]">
                <div class="text-center">
                    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl">
                        <span class="block text-white text-[3.5rem] leading-[65px]">
                            Operating at the Centre of Global Trade and Maritime Routes
                        </span>
                    </h1>
                    <p
                        class="mx-auto mt-3 text-base text-white sm:text-lg md:mt-5 md:max-w-3xl md:text-xl max-w-[31rem]">
                        AD Ports Group is redefining the future of maritime trade and logistics connecting Abu Dhabi to the world, leveraging our strategic position between East and West to enable trade between the most dynamic regions and the world’s fastest-growing economies.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-2/2">
        <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:h-full lg:w-[120rem]" src="assets/imgs/ezgif.com-gif-maker.gif">
    </div>
</div>
