<div class="relative lg:bottom-0 xs:bottom-[5.2rem] overflow-hidden bg-transparent lg:h-[52rem] xs:h-[37rem]">
    <div class="mx-auto max-w-7xl">
        <div class="relative z-10 bg-transparent lg:pb-8 xs:pb-0 md:pb-20 lg:w-full xl:pb-32">
            <div class="mx-auto lg:mt-16 xs:mt-[1rem] max-w-[45rem] px-4 sm:mt-24 sm:px-6 lg:relative xs:absolute top-[45px]">
                <div class="text-center">
                    <h1 class="text-4xl font-bold tracking-tight text-white sm:text-5xl md:text-6xl">
                        <span class="block text-white text-[3.5rem] leading-[65px]">
                            Operating at the Centre of Global Trade and Maritime Routes
                        </span>
                    </h1>
                    <p
                        class="mx-auto mt-3 text-base text-white sm:text-lg md:mt-5 md:max-w-3xl md:text-xl max-w-[31rem]">
                        AD Ports Group is redefining the future of maritime trade and logistics connecting Abu Dhabi to the world, leveraging our strategic position between East and West to enable trade between the most dynamic regions and the world’s fastest-growing economies.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:absolute lg:inset-y-0 lg:left-0 lg:w-2/2">
        <img class="lg:h-auto xs:h-[35rem] w-full object-cover sm:h-72 md:h-96 lg:w-[120rem]" src="assets/imgs/ezgif.com-gif-maker.gif">
    </div>
</div>
