<div class="bg-white lg:pt-12 xs:pt-0">
  <div class="w-full max-w-full lg:px-0 xs:px-0 sm:px-6 lg:max-w-full">
    <dl class="space-y-10 lg:grid lg:grid-cols-2 lg:gap-0 xs:gap-0 lg:space-y-0 xs:space-y-0">

      <div class="h-[50rem] bg-cover"
        style="background-image:url('https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/two-columns-slides/full-height-1.jpg?rev=a07d048a045c49c39094088fd1469677&hash=14861F649EA196E308F968D33F7C95E0')">
        <div class=" bg-[#000000a1] py-[14rem] lg:px-[10rem] xs:px-2">
          <dt>
            <p class="mt-5 leading-[55px] w-[25rem] text-white text-5xl font-bold">
              Technology is the Future of Global Trade
            </p>
          </dt>
          <dd class="mt-2 text-base text-white font-semibold">
            We are investing significantly in technology and world-class infrastructure to provide smart and innovative
            digital solutions to accelerate development and trade. By harnessing emerging technologies and using our
            insights and intelligence, we are unlocking opportunities for innovation in technology that will transform
            the future of how trade works.
            <div class="mt-3 sm:mt-0 sm:ml-0 relative top-7">
              <a href="#"
                class="flex w-[12rem] items-center justify-center rounded-md border-2 border-white border-transparent transition-colors duration-500  bg-transparent px-8 py-3 text-base text-white font-bold hover:bg-sky-600 hover:text-white hover:border-sky-600 md:py-4 md:px-10 md:text-lg btn-parent">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="svg-arrow-right w-6 h-6 relative left-[15px]">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
              </a>
            </div>
          </dd>
        </div>

      </div>

      <div class="h-[50rem] bg-cover"
        style="background-image:url('https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/committed-to-sustainable-development.jpg?rev=a9488843fcb54104a056aeb4cee113f9&hash=AF3FFCB68CDB0844527CD7946976326F')">
        <div class=" bg-[#000000a1] py-[14rem] lg:px-[10rem] xs:px-2">
          <dt>
            <p class="mt-5 leading-[55px] w-[25rem] text-white text-5xl font-bold">
              Committed to Sustainable Development
            </p>
          </dt>
          <dd class="mt-2 text-base text-white font-semibold">
            Sustainability is at the heart of everything we do, as we work to protect the ocean and the environment that
            surrounds us. We are committed to driving financially sound and socially and environmentally responsible
            operations through environmental, social, and corporate governance for our partners, customers and people..
            <div class="mt-3 sm:mt-0 sm:ml-0 relative top-7">
              <a href="#"
                class="flex w-[12rem] items-center justify-center rounded-md border-2 border-white border-transparent transition-colors duration-500  bg-transparent px-8 py-3 text-base text-white font-bold hover:bg-sky-600 hover:text-white hover:border-sky-600 md:py-4 md:px-10 md:text-lg btn-parent">
                Learn More
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                  stroke="currentColor" class="svg-arrow-right w-6 h-6 relative left-[15px]">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                </svg>
              </a>
            </div>
          </dd>
        </div>

      </div>

    </dl>
  </div>
</div>