<div class="accordion lg:bottom-[45px] xs:bottom-0">
    <ul>
        <li>
            <div class="relative">


                <div class="absolute top-[4.25rem] left-9 z-50">
                    <img class="fluid-slides__box-icon"
                        src="https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/air.svg?rev=561157a81f044c8a98cb23e65859c11e&amp;hash=D7BA9A3641583EC96F85E0AA52105903"
                        alt="Air">
                    <p class="text-[2rem] text-white py-[10px] px-0 font-bold">Air</p>
                </div>

                <div class="bg-[#000324c9]">
                    <a>

                        <div class="space-y-1 max-w-md list-inside text-white">
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Abu Dhabi International Airport
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Al Maktoum International Airport
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Dubai International Airport
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Sharjah International Airport
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Al Ain International Airport
                            </p>
                        </div>

                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="relative">
                <div class="absolute top-[4.25rem] left-9 z-50">
                    <img class="fluid-slides__box-icon"
                        src="https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/road.svg?rev=e5d7c3a7ef7e429b9631645936f947a2&amp;hash=32CC30292A17EBF4FD6A8A588B180CC2"
                        alt="Air">
                    <p class="text-[2rem] text-white py-[10px] px-0 font-bold">Road</p>
                </div>
                <div class="bg-[#000324c9]">
                    <a>

                        <div class="space-y-1 max-w-md list-inside text-white">
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Excellent road network connected to all the Emirates and the GCC
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Advanced highways and roads link our Economic Cities & Free Zones with all major cities
                                in the UAE, Oman, Qatar and KSA
                            </p>

                        </div>

                    </a>
                </div>
            </div>
        </li>

        <li>
            <div class="relative">


                <div class="absolute top-[4.25rem] left-9 z-50">
                    <img class="fluid-slides__box-icon"
                        src="https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/sea.svg?rev=82a7b3bb391f40a0a95a989cfe672b0e&amp;hash=73D80B03068CCFD4D08345AA0829F706"
                        alt="Air">
                    <p class="text-[2rem] text-white py-[10px] px-0 font-bold">Sea</p>
                </div>
                <div class="bg-[#000324c9]">
                    <a>

                        <div class="space-y-1 max-w-md list-inside text-white">
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Our Ports Cluster owns and operates a total of 10 ports and terminals
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Khalifa Port, the first semi-automated port in the region, serves more than 25 major
                                shipping lines and is connected to more than 70 destination ports around the globe
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Khalifa Port is a hub for 3 of the world’s top four shipping companies, including COSCO
                                PORTS Shipping Company (CSP), MSC Mediterranean Shipping Company, and CMA CGM Group
                            </p>

                        </div>

                    </a>
                </div>
            </div>
        </li>
        <li>
            <div class="relative">


                <div class="absolute top-[4.25rem] left-9 z-50">
                    <img class="fluid-slides__box-icon"
                        src="https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/future-rail.svg?rev=bd71a08ce99641219d6dde068c476b8d&amp;hash=6571EDEB6D0CF16E24000D79432CA5CD"
                        alt="Air">
                    <p class="text-[2rem] text-white py-[10px] px-0 font-bold">Future Rail</p>
                </div>
                <div class="bg-[#000324c9]">
                    <a>

                        <div class="space-y-1 max-w-md list-inside text-white">
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Etihad Rail’s 1,200 km network will extend across the United Arab Emirates, connecting
                                the country’s major hubs of trade and industry from the border of Saudi Arabia to the
                                border of Oman
                            </p>

                        </div>

                    </a>
                </div>
            </div>
        </li>

        <li>
            <div class="relative">


                <div class="absolute top-[4.25rem] left-9 z-50">
                    <img class="fluid-slides__box-icon"
                        src="https://mc-db4d5a29-212b-4323-b181-2834-cdn-endpoint.azureedge.net/-/media/sites/adports/home/fluid-slides/internal-transport.svg?rev=4ebf24536d214467bd110bde0096de2c&amp;hash=6F939F6BEF7EEBCC68E7BFDCF97E0C27"
                        alt="Air">
                    <p class="text-[2rem] text-white py-[10px] px-0 font-bold">Internal Transport</p>
                </div>
                <div class="bg-[#000324c9]">
                    <a>

                        <div class="space-y-1 max-w-md list-inside text-white">
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Our Economic Cities & Free Zones Cluster ensures easy import and export of containers
                                and bulk cargo
                            </p>
                            <p class="flex items-center pt-[15px]">
                                <svg class="w-6 h-6 !mr-[25px] text-sky-500 flex-shrink-0" fill="currentColor"
                                    viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                State-of-the-art infrastructure allows easy accessibility throughout the Economic Cities
                                & Free Zones Cluster
                            </p>

                        </div>

                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>