<div class="body">
    <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-full p-0 transition-all duration-1000">
        <video autoplay muted loop id="myVideo"
            class="h-56 w-full object-cover sm:h-72 md:h-96 lg:h-[50rem] lg:w-full transition-all duration-1000">
            <source src="assets/imgs/ezgif.com-gif-maker (2).mp4" type="video/mp4">
            Your browser does not support HTML5 video.
        </video>
    </div>
    <main>
        <article>
            <div class="slider">
                <div  class="w-[104rem] overflow-y-scroll overflow-x-hidden">

              
                <div class="slide slide-1" id="home">
                    <img src="assets/imgs/AD Ports Group-footer-bg-new.svg" class="w-[30rem] relative right-[15rem]">
                </div>
                <div class="slide slide-2" id="clothes">
                    <img src="assets/imgs/digital-en.png" class="w-[20rem] relative right-[15rem]">
                </div>
                <div class="slide slide-3" id="accessories">
                    <img src="assets/imgs/Eco-EN-logo-slider-homepage.png" class="w-[30rem] relative right-[15rem]">
                </div>
                <div class="slide slide-4" id="shoes">
                    <img src="assets/imgs/logistics-en.png" class="w-[20rem] relative right-[15rem]">
                </div>
                <div class="slide slide-5" id="shoes">
                    <img src="assets/imgs/maritime-en.png" class="w-[20rem] relative right-[15rem]">
                </div>
                <div class="slide slide-6" id="shoes">
                    <img src="assets/imgs/ports-en.png" class="w-[20rem] relative right-[15rem]">
                </div>
                <div class="slide slide-7" id="shoes">
                    <div class="grid grid-cols-3 gap-4">
                        <div class="col-span-2">
                            <h2 class="text-white text-[65px] max-w-[40rem] font-bold text-left relative left-[5rem]">
                                Abu Dhabi A Global Trade and Maritime Hub
                            </h2>
                        </div>
                        <div class="">
                            <p class="text-white text-left relative right-[15rem] text-[20px] w-[45rem]">
                                AD Ports Group is an integrated portfolio of world-class ports, economic zones,
                                maritime, logistics and digital businesses driving the growth of international trade. We
                                provide a competitive trading environment with world-class trade, logistics,
                                technologies and advanced infrastructure that delivers efficiencies for our partners and
                                customers.
                            </p>
                        </div>
                        <div class="relative left-[5rem] mb-[40px] mt-[5px]">
                            <h3 class="text-[1.500rem] text-white text-left font-bold mb-3">DIGITAL</h3>
                            <p class="text-[#d6d6d6] text-left font-semibold mb-3 max-w-[25rem]">
                                Our Digital Cluster provides advanced, smart and innovative digital solutions to
                                stakeholders within trade and logistics communities, increasing efficiency, productivity
                                and access to real-time information.
                            </p>
                            <p
                                class="text-[1.313rem] font-bold text-left w-[8rem] text-white transition-all duration-700 fromLeft pb-2 cursor-pointer">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </p>
                        </div>
                        <div class="relative left-[5rem] mb-[40px] mt-[5px]">
                            <h3 class="text-[1.500rem] text-white text-left font-bold mb-3">ECONOMIC CITIES & FREE ZONES
                            </h3>
                            <p class="text-[#d6d6d6] text-left font-semibold mb-3 max-w-[25rem]">
                                Our Economic Cities & Free Zones in Abu Dhabi cover a total land area of 550 km2,
                                serving over 1,500 customers, providing a hub for manufacturing, logistics and trade.
                            </p>
                            <p
                                class="text-[1.313rem] font-bold text-left w-[8rem] text-white transition-all duration-700 fromLeft pb-2 cursor-pointer">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </p>
                        </div>
                        <div class="relative left-[5rem] mb-[40px] mt-[5px]">
                            <h3 class="text-[1.500rem] text-white text-left font-bold mb-3">LOGISTICS</h3>
                            <p class="text-[#d6d6d6] text-left font-semibold mb-3 max-w-[25rem]">
                                Our Logistics Cluster provides supply chain and freight solutions to local and
                                international clientele providing end-to-end supply chain solutions from the point of
                                origin to last mile.
                            </p>
                            <p
                                class="text-[1.313rem] font-bold text-left w-[8rem] text-white transition-all duration-700 fromLeft pb-2 cursor-pointer">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </p>
                        </div>
                        <div class="relative left-[5rem]">
                            <h3 class="text-[1.500rem] text-white text-left font-bold mb-3">MARITIME</h3>
                            <p class="text-[#d6d6d6] text-left font-semibold mb-3 max-w-[25rem]">
                                Our Maritime Cluster provides quayside services to calling vessels, delivers world-class
                                maritime education and training courses, and governs and regulates Abu Dhabi’s maritime
                                sector.
                            </p>
                            <p
                                class="text-[1.313rem] font-bold text-left w-[8rem] text-white transition-all duration-700 fromLeft pb-2 cursor-pointer">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </p>
                        </div>
                        <div class="relative left-[5rem]">
                            <h3 class="text-[1.500rem] text-white text-left font-bold mb-3">PORTS</h3>
                            <p class="text-[#d6d6d6] text-left font-semibold mb-3 max-w-[25rem]">
                                Our Ports Cluster owns and operates 10 ports and terminals. Their multi-purpose
                                functionality and integrated technologies make them some of the most technologically
                                advanced ports in the region.
                            </p>
                            <p
                                class="text-[1.313rem] font-bold text-left w-[8rem] text-white transition-all duration-700 fromLeft pb-2 cursor-pointer">
                                Read More
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="w-4 h-4 inline">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                                </svg>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </article>

    </main>

</div>